[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "==0.21.1"
sqlmodel = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
